<div>
  You have received a message from <%- senderName %>
</div>

<br/>

<!-- button -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td>
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td
          align="center"
          style="border-radius: 43px;"
          bgcolor="#1a82ff"
        >
          <a
            href="<%= dappUrl %>/#/messages"
            target="_blank"
            style="font-size: 16px; font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif; color: #ffffff; text-decoration: none; text-decoration: none;border-radius: 43px; padding: 10px 36px; border: 1px solid #1a82ff; display: inline-block;"
            >View Messages</a
          >
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>
