@import 'variables.css';


html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  color: var(--dark);
  font-family: var(--default-font);
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5;
  background-image: url('/static/img/faucet.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.btn {
  font-weight: 900;
  border-radius: 30px;
  font-size: 1.125rem;
  padding-right: 30px;
  padding-left: 30px;
  width: 196px;
}

.submit {
  margin-top: 10px;
}

.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.33;
}

.btn-clear {
  border: solid 1px white;
  background-color: transparent;
  color: white;
}

.btn-clear:hover {
  background-color: white;
  color: var(--dark-two);
}

.card {
  top: 40%;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.95);
}

.card-title {
  line-height: 2.25rem;
  font-weight: 400;
}

.card-title.secondary {
  color: var(--clear-blue);
  padding-bottom: 10px;
}
/* Common */

hr {
  border-bottom: 1px solid var(--light);
  border-top: 0;
  margin: 0 auto 2rem;
  padding: 2rem 0 0;
}

hr.dark {
  border-bottom: 1px solid var(--steel);
}

hr.sm {
  margin-bottom: 1rem;
  padding-top: 1rem;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  line-height: 1.5;
}

h1 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1.25rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1.125rem;
}

p {
  color: var(--dark);
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
