<!doctype html>
<html lang="en" dir="ltr">

<head>
  <title>Origin Protocol Store</title>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=no">
  <meta http-equiv="Content-Language" content="en">

  <% if (htmlWebpackPlugin.options.analytics) { %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.analytics %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '<%= htmlWebpackPlugin.options.analytics %>');
  </script>
  <% } %>

  <% if (htmlWebpackPlugin.options.fbPixel) { %>
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '<%= htmlWebpackPlugin.options.fbPixel %>');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=<%= htmlWebpackPlugin.options.fbPixel %>&ev=PageView&noscript=1"
    /></noscript>
  <% } %>

  <link rel="data-dir" href="<%= htmlWebpackPlugin.options.dataDir %>" />

  <link rel="icon" href="<%= htmlWebpackPlugin.options.absolute ? '/' : '' %>favicon.ico" />
  <% _.forEach(htmlWebpackPlugin.files.css, function(file, index) { %>
  <% if (htmlWebpackPlugin.files.cssIntegrity) { %>
  <link rel="stylesheet" href="<%- file %>"
    integrity="<%= htmlWebpackPlugin.files.cssIntegrity[index] %>"
    crossorigin="<%= webpackConfig.output.crossOriginLoading %>" />
  <% } else { %>
  <link rel="stylesheet" href="<%- file %>" />
  <% } %>
  <% }); %>
</head>

<body>
  <div id="app">
    <div class="loading-screen"></div>
  </div>
</body>
<script crossorigin src="<%= htmlWebpackPlugin.options.absolute ? '/' : '' %>dist/openpgp.min.js"></script>
<script>
  if (typeof window.openpgp !== 'undefined') {
    openpgp.config.show_comment = false
    openpgp.config.show_version = false
    openpgp.initWorker({ path: '<%= htmlWebpackPlugin.options.absolute ? '/' : '' %>dist/openpgp.worker.min.js' })
  }
</script>
<script>
  localStorage.metaMaskEnabled = true
  localStorage.ognNetwork = "<%= htmlWebpackPlugin.options.network %>"
  localStorage.customConfig = '{"performanceMode":false,"proxyAccountsEnabled":false,"relayerEnabled":false<% if (htmlWebpackPlugin.options.provider) { %>,"provider":"<%= htmlWebpackPlugin.options.provider %>"<% } %>}'
</script>
<% _.forEach(htmlWebpackPlugin.files.js, function(file, index) { %>
<% if (htmlWebpackPlugin.files.jsIntegrity) { %>
<script src="<%- file %>"
  integrity="<%= htmlWebpackPlugin.files.jsIntegrity[index] %>"
  crossorigin="<%= webpackConfig.output.crossOriginLoading %>"></script>
<% } else { %>
<script src="<%- file %>"></script>
<% } %>
<% }); %>

</html>