<!doctype html>
<html lang="en" dir="ltr">

<head>
  <title>Origin Protocol Swag Store</title>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=no">
  <meta http-equiv="Content-Language" content="en">
  <link rel="icon" href="favicon.ico" />
  <% _.forEach(htmlWebpackPlugin.files.css, function(file, index) { %>
  <% if (htmlWebpackPlugin.files.cssIntegrity) { %>
  <link rel="stylesheet" href="<%- file %>" integrity="<%= htmlWebpackPlugin.files.cssIntegrity[index] %>"
    crossorigin="<%= webpackConfig.output.crossOriginLoading %>" />
  <% } else { %>
  <link rel="stylesheet" href="<%- file %>" />
  <% } %>
  <% }); %>
</head>

<body>
  <div id="app">
    <div class="loading-screen"></div>
  </div>
</body>
<script crossorigin src="dist/openpgp.min.js"></script>
<script>
  if (typeof window.openpgp !== 'undefined') {
    openpgp.config.show_comment = false
    openpgp.config.show_version = false
    openpgp.initWorker({ path: 'dist/openpgp.worker.min.js' })
  }
</script>
<script>
  localStorage.metaMaskEnabled = true
  localStorage.ognNetwork = "<%= htmlWebpackPlugin.options.network %>"
  localStorage.customConfig = '{"performanceMode":false,"proxyAccountsEnabled":false,"relayerEnabled":false}'
</script>
<% _.forEach(htmlWebpackPlugin.files.js, function(file, index) { %>
<% if (htmlWebpackPlugin.files.jsIntegrity) { %>
<script src="<%- file %>" integrity="<%= htmlWebpackPlugin.files.jsIntegrity[index] %>"
  crossorigin="<%= webpackConfig.output.crossOriginLoading %>"></script>
<% } else { %>
<script src="<%- file %>"></script>
<% } %>
<% }); %>

</html>