version: "3"

services:
  postgres:
    container_name: postgres
    restart: always
    image: postgres:10.0
    environment:
      - POSTGRES_USER=origin
      - POSTGRES_PASSWORD=origin
      - POSTGRES_DB=origin

  elasticsearch:
    container_name: elasticsearch
    image: elasticsearch
    build:
      context: .
      dockerfile: development/dockerfiles/elasticsearch
    ports:
      - "9200:9200"
    environment:
      network.bind_host: 0
      ES_JAVA_OPTS: "-Xmx256m -Xms256m"
    networks:
      - default

  # NOTE/TODO: This container is only responsible for running ganache and IPFS,
  # this functionality should be moved to dedicated containers
  origin:
    container_name: origin
    image: origin
    build:
      context: .
    ports:
      - "8545:8545"  # Ganache
    volumes:
      # Addresses for deployment of contracts to local blockchain will get
      # written to the build files
      - ./origin-contracts/build:/app/origin-contracts/build
      - ./origin/scripts:/app/origin/scripts

  ipfs-proxy:
    container_name: ipfs-proxy
    image: origin
    ports:
      - "9999:9999"
    environment:
      - IPFS_API_URL=http://origin:5002
      - IPFS_GATEWAY_URL=http://origin:8080
    volumes:
      - ./ipfs-proxy/src:/app/src

  origin-discovery:
    container_name: origin-discovery
    image: origin
    volumes:
      - ./origin/src:/app/origin/src
      - ./origin-discovery/src:/app/origin-discovery/src
    environment:
      - DATABASE_URL=postgres://origin:origin@postgres/origin
      - ELASTICSEARCH_HOST=elasticsearch:9200
    depends_on:
      - origin
      - postgres
      - elasticsearch
    ports:
      - "4000:4000"
    command: /bin/bash -c "npm run start:discovery"

  event-listener:
    container_name: event-listener
    image: origin
    volumes:
      - ./origin-contracts/build:/app/origin-contracts/build
      - ./origin/src:/app/origin/src
      - ./origin-discovery/src:/app/origin-discovery/src
      - ./development/envfiles/event-listener.env:/app/origin-discovery/.env
    depends_on:
      - origin
      - postgres
      - elasticsearch
      - ipfs-proxy
    command:
      >
      /bin/bash -c "wait-for.sh -t 0 -q origin:8080 --
      wait-for.sh -t 0 -q elasticsearch:9200 --
      npm run migrate &&
      npm run start:listener"

  origin-messaging:
    container_name: origin-messaging
    image: origin
    ports:
      - "9012:9012"
    volumes:
      - ./origin-messaging/src:/app/src
      - ./development/.ipfs:/app/ipfs
    environment:
      - MESSAGING_NAMESPACE=dev

  origin-bridge:
    container_name: origin-bridge
    image: origin-bridge
    build:
      context: .
      dockerfile: development/dockerfiles/origin-bridge
    volumes:
      - ./origin-bridge:/app
      # Set the envfile from the local envfile
      - ./development/envfiles/origin-bridge.env:/app/.env
    depends_on:
      - postgres
    environment:
      - FLASK_APP=/app/main.py
      - FLASK_DEBUG=True
      - PYTHONUNBUFFERED=1
    ports:
      - "5000:5000"
    command: /bin/bash -c "flask db upgrade && flask run --host=0.0.0.0"

  origin-notifications:
    container_name: origin-notifications
    image: origin
    volumes:
      - ./origin-notifications/src:/app/src
      - ./development/envfiles/origin-notifications.env:/app/.env
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgres://origin:origin@postgres/origin
    ports:
      - "3456:3456"
    command:
      >
      /bin/bash -c "wait-for.sh -t 0 -q postgres:5432 --
      npm run migrate &&
      npm run start"

  origin-dapp:
    container_name: origin-dapp
    image: origin
    volumes:
      # Include origin-contracts build files so the DApp has access to the
      # address of the contracts on the local blockchain
      - ./origin-contracts/build:/app/origin-contracts/build
      - ./origin/src:/app/origin/src
      # Mount origin-dapp inside the container
      - ./origin-dapp/src:/app/origin-dapp/src
      - ./origin-dapp/public:/app/origin-dapp/public
      - ./origin-dapp/webpack.config.js:/app/origin-dapp/webpack.config.js
      # Set the envfile from the local envfile
      - ./development/envfiles/origin-dapp.env:/app/origin-dapp/.env
      - ./development/.ipfs:/ipfs
    depends_on:
      - ipfs-proxy
      - event-listener
      - origin
      - origin-discovery
      - origin-messaging
      - origin-bridge
      - origin-notifications
    ports:
      - "3000:3000"
    command:
      # Waits for origin-messaging to start then uses a script to read the
      # origin-messaging IPFS peer id and write the configuration key/pair to
      # the .env file.
      >
      /bin/bash -c "wait-for.sh -t 0 -q origin-messaging:9012 &&
      . set-ipfs-swarm.sh /ipfs/config &&
      wait-for.sh -t 0 -q origin:8080 --
      node node_modules/webpack-dev-server/bin/webpack-dev-server.js --host 0.0.0.0"
