version: "3"

networks:
  default:

volumes:
  origin_js_node_modules:
  flask_session: # Flask session persistence

services:
  postgres:
    container_name: postgres
    restart: always
    image: postgres:10.0
    environment:
      - POSTGRES_USER=origin
      - POSTGRES_PASSWORD=origin
      - POSTGRES_DB=origin
    networks:
      - default

  elasticsearch:
    container_name: elasticsearch
    image: elasticsearch
    build:
      context: .
      dockerfile: development/dockerfiles/elasticsearch
    ports:
      - "9200:9200"
    environment:
      network.bind_host: 0
      ES_JAVA_OPTS: "-Xmx256m -Xms256m"
    networks:
      - default

  ipfs-proxy:
    container_name: ipfs-proxy
    image: ipfs-proxy
    build:
      context: .
      dockerfile: development/dockerfiles/ipfs-proxy
    ports:
      - "9999:9999"
    environment:
      - IPFS_API_URL=http://origin-js:5002
      - IPFS_GATEWAY_URL=http://origin-js:8080
    volumes:
      - ./ipfs-proxy:/app
    command: >
      /bin/bash -c "npm install --quiet --no-progress &&
      node src/index.js"
    networks:
      - default

  origin-js:
    container_name: origin-js
    image: origin-js
    build:
      context: .
      dockerfile: development/dockerfiles/origin-js
    volumes:
      - ./origin-js:/app
      - origin_js_node_modules:/app/node_modules
    ports:
      - "5001:5000" # Faucet
      - "8081:8081" # Tests
      - "8545:8545" # Blockchain
    # Run npm install on every container start to avoid volumes issue
    # https://github.com/docker/compose/issues/4337
    command: >
      /bin/bash -c "npm install --quiet --no-progress &&
      npm start"
    networks:
      - default

  origin-discovery:
    container_name: origin-discovery
    image: origin-discovery
    build:
      context: .
      dockerfile: development/dockerfiles/origin-discovery
    volumes:
      - ./origin-discovery:/app
      - ./development/envfiles/origin-discovery.env:/app/.env
      # Mount compiled origin-js inside node modules, this is not actually a
      # dependency of the graphql server, but it is required here because the
      # event-listener and origin-discovery share the same package.json
      - ./origin-js:/usr/local/lib/node_modules/origin
      - origin_js_node_modules:/usr/local/lib/node_modules/origin/node_modules
    depends_on:
      - origin-js
      - postgres
      - elasticsearch
    ports:
      - "4000:4000" # Apollo
    command: >
      /bin/bash -c "wait-for.sh -t 0 -q origin-js:8081 --
      npm install --quiet --no-progress &&
      npm link origin &&
      node src/apollo/app.js"
    networks:
      - default

  event-listener:
    container_name: event-listener
    image: event-listener
    build:
      context: .
      dockerfile: development/dockerfiles/event-listener
    volumes:
      - ./origin-discovery:/app
      # Mount compiled origin-js inside node modules
      - ./origin-js:/usr/local/lib/node_modules/origin
      - origin_js_node_modules:/usr/local/lib/node_modules/origin/node_modules
    depends_on:
      - origin-js
      - postgres
      - elasticsearch
    environment:
      - ELASTICSEARCH_HOST=elasticsearch:9200
      - DATABASE_URL=postgres://origin:origin@postgres/origin
      # TODO: Add support for .env files to the event-listener and move these env vars in there.
      - AFFILIATE_ACCOUNT=0x821aea9a577a9b44299b9c15c88cf3087f3b5544
      - ARBITRATOR_ACCOUNT=0x0d1d4e623d10f9fba5db95830f7d3839406c6af2
      - IPFS_URL=http://ipfs-proxy:9999
      - BLOCK_EPOCH=0
    command: >
      /bin/bash -c "wait-for.sh -t 0 -q origin-js:8081 --
      npm install --quiet --no-progress &&
      npm link origin &&
      node node_modules/.bin/sequelize db:migrate &&
      node src/listener/listener.js --elasticsearch --db --web3-url='http://origin-js:8545'"
    networks:
      - default

  origin-messaging:
    container_name: origin-messaging
    image: origin-messaging
    build:
      context: .
      dockerfile: development/dockerfiles/origin-messaging
    ports:
      - "9012:9012"
    volumes:
      - ./origin-messaging/src:/app/src
      - ./development/.ipfs:/ipfs
    environment:
      - MESSAGING_NAMESPACE=dev
    networks:
      - default
    # TODO Add nodemon
    # Waits for origin-messaging-ipfs to be available before starting
    command: node_modules/.bin/babel-node src/index.js --presets es2015

  origin-bridge:
    container_name: origin-bridge
    image: origin-bridge
    build:
      context: .
      dockerfile: development/dockerfiles/origin-bridge
    volumes:
      - ./origin-bridge:/app
      # Set the envfile from the local envfile
      - ./development/envfiles/origin-bridge.env:/app/.env
      - flask_session:/app/flask_session
    depends_on:
      - postgres
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=/app/main.py
      - FLASK_DEBUG=1
      - DATABASE_URL=postgresql://origin:origin@postgres/origin
    command: /bin/bash -c "flask db upgrade && flask run --host=0.0.0.0"
    networks:
      - default

  origin-dapp:
    container_name: origin-dapp
    image: origin-dapp
    build:
      context: .
      dockerfile: development/dockerfiles/origin-dapp
    volumes:
      # Mount origin-dapp inside the container
      - ./origin-dapp:/app
      # Set the envfile from the local envfile
      - ./development/envfiles/origin-dapp.env:/app/.env
      # Mount compiled origin-js inside node modules
      - ./origin-js:/usr/local/lib/node_modules/origin
      - origin_js_node_modules:/usr/local/lib/node_modules/origin/node_modules
      - ./development/.ipfs:/ipfs
    depends_on:
      - origin-js
      - origin-messaging
      - origin-bridge
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - IPFS_API_PORT=9999
      - IPFS_DOMAIN=localhost
      - IPFS_GATEWAY_PORT=9999
    command:
      # Waits for origin-messaging to start then uses a script to read the
      # origin-messaging IPFS peer id and write the configuration key/pair to
      # the .env file.
      #
      # The copying is necessary because the .env file is mounted as a volume
      # and the inode is not allowed to change.
      >
      /bin/bash -c "wait-for.sh -t 0 -q origin-messaging:9012 --
      npm install --quiet --no-progress &&
      npm link origin &&
      source set-ipfs-swarm.sh /ipfs/config &&
      wait-for.sh -t 0 -q origin-js:8081 --
      node node_modules/webpack-dev-server/bin/webpack-dev-server.js --host 0.0.0.0 --watch-poll 500"
    networks:
      - default
