appier==1.13.49
appnope==0.1.0
asn1crypto==0.24.0
Babel==2.5.1
backports.shutil-get-terminal-size==1.0.0
celery
certifi==2017.11.5
cffi==1.11.4
chardet==3.0.4
click==6.7
cryptography==2.1.4
decorator==4.2.1
enum34==1.1.6
Flask==0.12.2
Flask-Babel==0.11.2
Flask-Compress==1.4.0
Flask-Migrate==2.1.1
Flask-Script
Flask-SQLAlchemy==2.3.2
gnureadline==6.3.8
gunicorn==19.7.1
idna==2.6
ipaddress==1.0.19
ipython==5.5.0
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
newrelic
path.py==10.5
pathlib2==2.3.0
pexpect==4.3.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
psycopg2==2.7.3.2
ptyprocess==0.5.2
pur==4.0.3
pyasn1==0.4.2
pycparser==2.18
pyflakes==1.6.0
Pygments==2.2.0
pyOpenSSL==17.5.0
python-dateutil==2.6.1
python-env==1.0.0
python-http-client==3.0.0
pytz==2017.3
pyuca==1.2
redis
requests==2.18.4
scandir==1.6
sendgrid==5.3.0
simplegeneric==0.8.1
six==1.11.0
SQLAlchemy==1.2.1
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.14.1
-e git://github.com/OriginProtocol/flask-recaptcha.git@master#egg=flask-recaptcha
raven[flask]==6.6.0