# Rename this file to .env before running

DEV_EMAIL = "foo@bar.com"
DEBUG = True

HOST = localhost
HTTPS = False

PROJECTPATH = "/"

FLASK_SECRET_KEY = putyoursupersecretkeyhere

DATABASE_URL = postgresql://localhost/bridge-server

SENDGRID_API_KEY = putyoursupersecretkeyhere

TEMPLATE_ROOT = os.path.join(PROJECTPATH, 'templates')
STATIC_ROOT = os.path.join(PROJECTPATH, 'static')

# Process tasks synchronously (for local dev)
CELERY_DEBUG = True
# Enable celery-based send_email task
REDIS_URL= "redis://"

export FLASK_APP = "app/__init__.py"

