<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    {% block styles %}
      <link rel="stylesheet" href="/static/css/app.css"/>
      {% block extra_styles %}
      {% endblock %}
    {% endblock %}
  {% endblock %}
</head>
<body>
  {% block body %}
    {% block content %}
    {% endblock %}

    {% block scripts %}
      <script src="/static/js/script.js"></script>

      {% block extra_scripts %}
      {% endblock %}
    {% endblock %}
  {% endblock %}
</body>
</html>
