{% extends 'base.html' %}

{% block title %}Origin Bridge Server{% endblock %}

{% block content %}
<div id="root" class="d-flex flex-column">
	<div class="d-flex flex-column">
		<nav class="navbar navbar-expand-lg navbar-dark">
			<div class="container"><img src="/static/images/origin-logo.svg"></img></container>
		</nav>
		<div class="container">
			<br>
			<h1>Welcome to the Origin Bridge Server.</h1>
			<p>The Origin Bridge Server connects the old world to the new. Visit our <a target="blank" href="https://github.com/OriginProtocol/origin/blob/master/origin-bridge#origin-bridge-server">Github</a> or <a target="blank" href="http://docs.originprotocol.com">Docs</a> to learn what this is about.</p>
			<br>
			<hr>
			<h2>Purpose of the bridge server:</h2>
			<p>Most traditional web APIs, such as those from Facebook and Twitter, can only interact with a centralized server located at a specific domain. A decentralized application, like our <a target="blank" href="https://demo.originprotocol.com/">Origin Demo DApp</a>, doesn't need to "live" on a particular server. (In fact, you can load it from any IPFS gateway!) Thus, in order for the DApp to use an "old world" API, it needs a Bridge Server!</p>
			<p>DApps runing on Origin can connect to the Bridge Server of their choosing in order to enable the following functionality which is either impossible or impractical to do directly onchain, including:</p>
			<h3>Indexing</h3>
			<p>Searching, browsing or filtering results is impractical to do either onchain or in the browser. DApps can connect to a bridge-server to solve this problem. The bridge server will index the blockchain and related JSON content that is stored on IPFS into a quickly queriable format to make searching and filtering results possible from DApps.</p>
			<h3>Identity</h3>
			<p>We need a centralized server that can handle tasks like issuing identity attestations and decryptying data that is returned from third-party services like Civic. We also need proxies for fetching public data from services like Facebook and Twitter which require authentication keys.</p>
			<h3>Notifications</h3>
			<p>There is currently no practical way to get email or text notifications when your bookings are made without a centralized monitoring service that can send you a text or an email to let you know about listings you care about.</p>
			<hr>
			<h2>Bridge Environments</h2>
			<p>You can connect to and use our hosted Bridge Server at <strong><a href="http://bridge.originprotocol.com">bridge.originprotocol.com</strong></a>. The develop branch of this repo is available at <strong><a href="http://dev.bridge.originprotocol.com">dev.bridge.originprotocol.com</strong></a>.</p>
			<h4>So, what will you do with the bridge server? Let us know in our <a target="blank" href="https://discordapp.com/invite/jyxpUSe">engineering channel</a> on discord!</h4>
			<br>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
