@import 'variables.css';

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  color: var(--dark);
  font-family: var(--default-font);
  font-size: 1.125rem;
  font-weight: 300;
  height: 100%;
  line-height: 1.5;
  margin: auto;
}

.container {
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
}

/* sticky footer sibling */
main {
  flex: 1 0 auto;
  min-height: 100vh;
}

/* Common */

hr {
  border-bottom: 1px solid var(--light);
  border-top: 0;
  margin: 0 auto 2rem;
  /*padding: 2rem 0 0;*/
}

hr.dark {
  border-bottom: 1px solid #6f8294;
}

hr.sm {
  margin-bottom: 1rem;
  padding-top: 1rem;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  line-height: 1.5;
}

h1 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1.25rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1.125rem;
}

p {
  color: var(--dark);
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

a:hover {
  text-decoration: none;
}

/* Navbar */

.navbar {
  background-color: var(--dusk);
  padding: 15px 0px;
  color: var(--light);
  font-weight: 600;
}