<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <title>Origin Admin</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="en">
    <link rel="icon" href="favicon.ico" />
    <% _.forEach(htmlWebpackPlugin.files.css, function(file) { %><link rel="stylesheet" href="<%- file %>" /><% }); %>
  </head>
  <body><div id="app"><div class="p-3">Please wait...</div></div></body>
  <!-- <script crossorigin src="vendor/openpgp.min.js"></script>
  <script>
    if (typeof window.openpgp !== 'undefined') {
      openpgp.config.show_comment = false
      openpgp.config.show_version = false
      openpgp.initWorker({ path: 'vendor/openpgp.worker.min.js' })
    }
  </script> -->
  <% _.forEach(htmlWebpackPlugin.files.js, function(file) { %><script src="<%- file %>"></script><% }); %>
</html>
