.origin-alert {
  padding: 20px;
  border-radius: 4px;
  color: #212529;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='30'><line x1='5' y1='10' x2='15' y2='20' stroke='%23bbb' stroke-width='2'/><line x1='15' y1='10' x2='5' y2='20' stroke='%23bbb' stroke-width='2'/></svg>");
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #ebf0f3;
  position: fixed;
  bottom: 10px;
  right: -300px;
  opacity: 0;
  width: 300px;
  transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}

.origin-alert-show {
  right: 10px;
  opacity: 1;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}
