.calendar-container {
  height: 320px;
}

.selection-unavailable {
  margin-top: 65px;
}

.calendar-error-msg {
  margin-top: 90px;
  font-weight: bold;
}

.calendar-container.buyer-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.calendar-container .btn-primary {
  float: right;
}

.rbc-event {
  display: none !important;
}

.rbc-allday-cell {
  display: none;
}

.calendar-container.buyer-view .rbc-calendar {
  height: 100%;
  cursor: default;
  min-height: 400px;
  width: 100%;
}

.calendar-container .rbc-calendar .rbc-btn-group {
  display: none;
}

.calendar-container .rbc-calendar .rbc-toolbar .rbc-btn-group:nth-child(3) {
  display: none;
}

.rbc-day-bg {
  position: relative;
  border: 1px solid #ddd;
}

.rbc-day-bg span {
  bottom: 0;
  left: 5px;
  position: absolute;
}

.rbc-day-bg.unavailable {
  background: var(--pale-grey) !important;
}

.rbc-day-bg.unavailable.future-date {
  background: var(--pale-grey-four) !important;
}

.calendar-container .rbc-time-slot.unavailable {
  background: var(--pale-grey);
}

.calendar-container .rbc-day-bg.selected,
.calendar-container .rbc-day-bg.dragging {
  border: 1px solid var(--dark);
}

.calendar-container .rbc-day-bg.selected.first-selected,
.calendar-container .rbc-day-bg.dragging.first-selected {
  border-right: 1px solid #ddd;
}

.calendar-container .rbc-day-bg.selected.last-selected,
.calendar-container .rbc-day-bg.dragging.last-selected {
  border-left: 1px solid #ddd;
}

.calendar-container .rbc-day-bg.selected.middle-selected,
.calendar-container .rbc-day-bg.dragging.middle-selected {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.calendar-container .rbc-time-slot {
  font-size: 15px;
  display: flex;
  align-items: flex-end;
  padding: 2px 3px;
}

.calendar-container.hourly-view .rbc-calendar .rbc-day-bg {
  font-size: 7px;
}

.rbc-month-row,
.rbc-month-row + .rbc-month-row {
  border-top: none;
}

.rbc-row-content,
.rbc-time-header-cell,
.rbc-events-container {
  pointer-events: none;
}

.rbc-date-cell {
  pointer-events: none;
  padding-left: 5px;
  text-align: left;
  vertical-align: top;
  color: #999999;
}

.calendar-container.buyer-view.hourly-view .rbc-calendar .rbc-date-cell {
  cursor: default;
  font-size: 10px;
}

.buyer-view .rbc-time-slot.available:not(.selected):hover,
.buyer-view .rbc-day-bg.available:not(.selected):hover {
  background: var(--pale-grey-eight) !important;
  cursor: pointer;
}

.seller-view .rbc-time-slot.future-date:not(.selected):hover,
.seller-view .rbc-day-bg.future-date:not(.selected):hover {
  background: var(--pale-grey-eight) !important;
  cursor: pointer;
}

.slot-price {
  pointer-events: none;
}

.calendar-nav {
  position: absolute;
  top: 6px;
  left: 16px;
  right: 16px;
}

.calendar-nav img {
  height: 17px;
}

.calendar-nav .prev-period {
  position: absolute;
  left: 0;
  transform: rotate(180deg);
  cursor: pointer;
}

.calendar-nav .next-period {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.calendar-nav .go-to-today-btn {
  cursor: pointer;
  margin-left: 40px;
  margin-top: -5px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 5px;
}

.calendar-right-column {
  padding-top: 45px;
}

.calendar-cta {
  padding: 1px 15px 15px;
  position: relative;
  border: 1px solid var(--light);
  border-radius: 5px;
}

.calendar-cta p, .calendar-cta label {
  font-size: 18px;
  margin-bottom: 5px;
}

.calendar-cta p.font-weight-bold {
  margin-top: 15px;
}

.calendar-cta input[type="radio"] {
  float: right;
}

.calendar-cta input[type="number"] {
  background: var(--pale-grey-four);
  border: 1px solid var(--light);
  width: 50%;
  padding: 5px;
}

.calendar-cta input[type="number"]::placeholder,
.calendar-cta input[type="number"]::-webkit-input-placeholder {
  font-size: 18px;
}

.calendar-cta select,
.calendar-cta select:focus,
.calendar-cta select:active {
  background: var(--pale-grey-four);
  border: 1px solid var(--light);
  height: 34px;
}

.calendar-cta .btn {
  display: inline-block;
  width: inherit;
  border: 1px solid var(--clear-blue);
  color: var(--clear-blue);
  background: white;
}

.calendar-cta .btn:hover {
  background: var(--clear-blue);
  color: white;
}

.calendar-cta .price-label {
  font-size: 15px;
}

.calendar-cta .cta-btns .col-md-6 {
  padding-top: 20px;
  text-align: center;
}

.calendar-cta .edit-series-container {
  padding-top: 25px;
}

/* Media queries */

/* sm + */
@media (min-width: 576px) {
  .calendar-container {
    height: 475px;
  }
}

/* md + */
@media (min-width: 768px) {

}

/* lg + */
@media (min-width: 992px) {
  .calendar-container {
    height: 503px;
  }
}

/* xl + */
@media (min-width: 1200px) {

}
