@import '~bootstrap/dist/css/bootstrap.css';
@import '~typeface-lato';
@import './origin-bootstrap.css';
@import './navbar.css';

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  font-size: 1.125rem;
  line-height: 1.5;
  background-color: white;
  font-family: 'Lato';
  height: 100%;
}

.wrapper {
  background-color: #f7fbfd;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  padding: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  #sidebar {
    width: 280px
  }

  #main {
    padding: 70px;
    width: calc(100% - 280px)
  }

  .wrapper {
    flex-direction: row;
  }
}

.loading {
  background-color: #007cff;
  color: white;
  height: 100%;
  padding-top: 20%;
}

.bg-light {
    background-color: #f4f5f7 !important;
}

table {
    font-size: 1rem
}
