node_modules
.DS_Store
public/*
!public/images*
!public/template.html
!public/favicon.ico
/data/*
!/data/example*
scripts/output*
scripts/conv.sh
backend/db/*.db
backend/tstEmail.js
backend/.git
backend/public
TODO
.env*