@import 'alertify.css';
@import 'https://hosted-sip.civic.com/css/civic-modal.min.css';

:root {
  --default-font: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
  --heading-font: 'Poppins', 'Helvetica Neue', 'Arial', sans-serif;
  --dark: #111d28;
  --light: #c2cbd3;
  --clear-blue: #1a82ff;
  --dark-grey-blue: #2e3f53;
  --dark-clear-blue: #0169e6;
  --dark-grey: #282727;
  --pale-grey: #ebf0f3;
  --dusk: #455d75;
  --greenblue: #26d198;
  --light-greenblue: #59ffcb;
  --bluish-purple: #6e3bea;
  --default-radius: 5px;
}

html {
  height: 100%;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  font-size: 1.0rem;
  font-weight: 300;
  font-family: var(--default-font);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* sticky footer sibling */
main {
  flex: 1 0 auto;
  min-height: 100vh;
}

/* Common */

h1, h2, h3 {
  color: var(--dark);
  font-weight: 200;
  font-family: var(--heading-font);
}

fieldset {
  border: 0px solid transparent;
  padding: 0px;
}

h1 {
  font-size: 2.0rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 1.125rem;
  margin: 20px auto;
}

label {
  color: var(--dusk);
  font-size: 0.875rem;
}

a:hover {
  text-decoration: none;
}

/* Navbar */

.navbar {
  background-color: var(--dusk);
  padding: 15px;
  color: var(--light);
  font-weight: 600;
}

.navbar a {
  color: var(--pale-grey);
  font-size: 0.9rem;
  font-weight: bold;
}

.navbar .unread-badge {
  position: absolute;
  background-color: var(--greenblue);
  border: 2px solid var(--dusk);
  border-radius: 50%;
  height: 12px;
  right: 17px;
  top: 19px;
  width: 12px;
}

.navbar .dropdown.show .unread-badge {
  border-color: white;
}

.navbar .dropdown-menu {
  left: auto;
  right: 0;
}

.navbar .triangle {
  position: absolute;
  /*box-shadow: 1px 1px 3px 0 var(--light);*/
  /*height: 18px;*/
  bottom: -18px;
  right: 0;
  /*width: 18px;*/

/*  color: blue;
  font-size: 100px;
  text-shadow: 0 0 10px black;*/

/*  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);*/
}

.navbar .nav-item.dropdown .triangle {
  display: none;
  z-index: 999;
}

.navbar .nav-item.dropdown.show .triangle {
  display: block;
}

.navbar .notifications .triangle {
  -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
}

.navbar .notifications .triangle polygon {
  fill: white;
}

.navbar .profile .triangle {
  -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
}

.navbar .profile .triangle polygon {
  fill: var(--dark);
}

.navbar .nav-item.notifications.dropdown.show {
  background-color: white;
}

.navbar .nav-item.notifications.dropdown img.notifications.selected {
  display: none;
}

.navbar .nav-item.notifications.dropdown.show img.notifications {
  display: none;
}

.navbar .nav-item.notifications.dropdown.show img.notifications.selected {
  display: inline;
}

.navbar .nav-item.profile.dropdown.show {
  background-color: var(--dark);
}

.navbar .dropdown-menu {
  border: none;
  border-radius: 5px 0 5px 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 0;
  top: 76px;
}

.navbar .notifications .dropdown-menu {
  background-color: white;
  max-width: 520px;
}

.navbar .notifications .dropdown-menu a {
  color: var(--clear-blue);
}

.navbar .notifications .dropdown-menu header {
  align-items: center;
  height: 48px;
}

.navbar .notifications .dropdown-menu header h3 {
  font-weight: 600;
  margin: 0 22px 0 0;
}

.navbar .notifications .dropdown-menu header .count {
  text-align: center;
  width: 68px;
}

.navbar .notifications .dropdown-menu header .count p {
  background-color: var(--greenblue);
  border-radius: 50%;
  color: white;
  font-size: 1rem;
  height: 25px;
  width: 25px;
}

.navbar .notifications .dropdown-menu footer {
  background-color: #dfe6ea;
  border-radius: 0 0 5px 5px;
  padding: 12px;
  text-align: center;
}

.navbar .notifications .dropdown-menu .notification {
  background-color: #f6f7f8;
  border-color: var(--light);
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0;
  padding: 15px;
}

.navbar .dropdown-menu .avatar-container {
  position: relative;
  border-radius: 5px;
}

.navbar .dropdown-menu .avatar-container img {
  bottom: 0;
  left: 20%;
  width: 60%;
  position: absolute;
}

.navbar .notifications .dropdown-menu .notification {
  align-items: center;
}

.navbar .notifications .dropdown-menu .notification p {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.navbar .notifications .dropdown-menu .notification .content {
  max-width: 330px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar .notifications .dropdown-menu .notification .address {
  color: #6f8294;
  font-size: 0.8rem;
}

.navbar .notifications .dropdown-menu .notification .avatar-container {
  height: 40px;
  margin-right: 15px;
  width: 40px;
}

.navbar .notifications .dropdown-menu .notification .link-container {
  padding-left: 15px;
}

.navbar .notifications .dropdown-menu .notification .link-container .btn {
  border: 1px solid var(--clear-blue);
  font-size: 18px;
  height: 30px;
  padding: 0;
  width: 30px;
}

.navbar .notifications .dropdown-menu .notification .link-container .btn:hover {
  color: white;
}

.navbar .profile .dropdown-menu {
  background-color: var(--dark);
  max-width: 300px;
}

.navbar .profile .dropdown-menu .wallet {
  margin: 0;
  top: unset;
}

.navbar .profile .dropdown-menu .wallet p {
  font-size: 0.8rem;
  font-weight: normal;
  max-width: 200px;
}

.navbar .profile .dropdown-menu .wallet .avatar-container,
.navbar .profile .dropdown-menu .wallet .image-container {
  height: 50px;
  margin: 0 10px 0 0;
  width: 50px;
}

.navbar .profile .dropdown-menu .wallet .image-container img {
  height: 50px;
  width: 50px;
}

.navbar .profile .dropdown-menu .wallet .identification img {
  height: 20px;
  margin-right: 5px;
  width: 20px;
}

.navbar .profile .dropdown-menu .dropdown-item {
  background-color: var(--dark-grey-blue);
  border-radius: 0 0 5px 5px;
  padding: 10px 1.5rem;
  text-align: center;
}

.navbar .profile .dropdown-menu .dropdown-item {
  font-size: 1rem;
  color: var(--pale-grey);
}

.navbar .profile .dropdown-menu .dropdown-item:hover {
  color: white;
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar .navbar-brand img {
  vertical-align: text-bottom;
}

.navbar .navbar-collapse form {
  padding-top: 15px;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
  padding-top: 15px;
}

.navbar .static.navbar-nav {
  flex-direction: row;
}

.navbar .static.navbar-nav .nav-item {
  padding: 0;
  text-align: center;
}

.navbar .static.navbar-nav .nav-item {
  width: 60px;
}

.navbar .static.navbar-nav .nav-item img {
  vertical-align: text-top;
}

.navbar .static.navbar-nav .nav-item img.add-listing,
.navbar .static.navbar-nav .nav-item img.notifications {
  margin-top: 2px;
}

.navbar .static.navbar-nav .nav-item img.identicon {
  margin-top: -2px;
}

.navbar .navbar-nav .nav-item .nav-link {
  padding: 0;
}

.navbar .static.navbar-nav .nav-item .nav-link {
  cursor: pointer;
}

.navbar .navbar-toggler {
  border: none;
  margin-top: -2px;
  padding: 0;
}

.navbar .navbar-toggler img {
  height: 22px;
}

.navbar .identicon {
  height: 30px;
  width: 30px;
}

.navbar .dropdown-toggle::after {
  display: none;
}

.navbar input,
.navbar input:focus {
  background-color: transparent;
  border: none;
  border-left: 1px solid #6f8294;
  border-radius: 0;
  box-shadow: none;
  color: var(--pale-grey);
  font-size: 0.9rem;
  font-weight: normal;
  height: unset;
}

.navbar input:focus {
  border-color: white;
}

.navbar input::placeholder {
  color: #c2cbd3;
}

.btn-container {
  margin: 30px auto;
}

.btn {
  border-radius: 30px;
  padding-right: 30px;
  padding-left: 30px;
  width: 156px;
  font-size: 1.2rem;
}

.btn:hover {
  background-color: var(--dark-clear-blue);
  color: white;
}

.field-description {
  font-size: 14px;
  font-style: italic;
  color: var(--dusk);
}

.btn-primary {
  background-color: var(--clear-blue);
  color: white;
}

.btn-other {
  border: solid 1px var(--light);
  background-color: white;
  color: var(--clear-blue);
}

.avatar-container {
  background-color: var(--dark-grey-blue);
}

/* Modal */

.modal-backdrop {
  background-color: rgba(235, 240, 243, 0.6);
}

.modal-content {
  background-color: var(--dark-grey-blue);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.1rem;
  font-weight: normal;
  padding: 30px 15px;
  text-align: center;
}

.modal-content h1,
.modal-content h2,
.modal-content h3 {
  color: unset;
}

.modal-content .image-container img {
  width: 54px;
  height: 54px;
  margin-bottom: 30px;
}

.modal-content .form-control {
  text-align: center;
  max-width: 288px;
}

.modal-content input,
.modal-content textarea {
  background-color: #213040;
  border: none;
  color: white;
  font-size: 1.1rem;
  margin: 0 auto 10px;
}

.modal-content input:focus,
.modal-content textarea:focus {
  background-color: #213040;
  border: none;
  color: white;
}

.modal-content input::placeholder,
.modal-content textarea::placeholder {
  color: var(--dusk);
}

.modal-content a {
  color: var(--greenblue);
}

.modal-content a:hover {
  color: var(--light-greenblue);
}

.modal-content .button-container {
  display: flex;
  margin-top: 20px;
}

.modal-content .button-container button {
  border: solid 1px white;
  background-color: transparent;
  color: white;
  flex-basis: 50%;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
}

.modal-content .button-container button:hover {
  background-color: white;
  color: #213040;
}

.modal-content .button-container button:last-of-type {
  margin-left: 20px;
}

/* Tooltip */

.tooltip {
  font-size: 0.8rem;
  font-weight: 300;
  font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
}

.tooltip .tooltip-inner {
  padding: 1.2rem;
}

/* Listings */

.listings-grid {
  padding: 40px 0px;
  margin-bottom: 40px;
}

.listings-grid h1 {
  margin-bottom: 40px;
}

.listing-card {
  margin-bottom: 40px;
}

.listing-card .category {
  font-size: 0.75rem;
  color: var(--dusk);
  text-transform: uppercase;
  margin: 15px 0px 5px 0px;
}

.listing-card .title {
  font-family: var(--heading-font);
  font-size: 1.2rem;
  color: var(--dusk);
  margin: 5px 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.listing-card .price {
  line-height: 1.4;
  color: var(--dark);
}

.listing-card .sold-banner {
  display: inline-block;
  width: 70px;
  height: 22px;
  background-image: url(/images/card-sold-tag.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 58px 20px;
  font-weight: 400;
  font-size: 0.9rem;
  color: white;
  padding: 0.8px 8px 5px 20px;
}

.listing-card .photo {
  width: 100%;
  height: 240px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

/* Listing Detail */

.carousel {
  width: 100%;
  height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  border-top: 1px solid var(--dark-grey);
  background-color: var(--dark-grey);
}

.carousel .photo {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: 600px;
  height: 400px;
  background-color: var(--light);
  margin-right: 1px;
}

.carousel .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.listing-container {
  margin: 80px auto;
}

.listing-container .category {
  font-size: 0.875rem;
  color: var(--dusk);
  text-transform: uppercase;
  margin-bottom: 15px;
}

.listing-container .title {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  color: var(--dusk);
  margin-bottom: 15px;
}

.listing-container .description {
  color: var(--dusk);
  margin-bottom: 30px;
}

.listing-container .lister-label {
  font-family: 'Poppins', 'Helvetica Neue', 'Arial', sans-serif;
  color: var(--dusk);
  font-size: 1.5rem;
}

.listing-container .lister-address {
  color: var(--dusk);
}

.listing-container .buy-box {
  border-radius: var(--default-radius);
  background-color: var(--dark-grey-blue);
  padding: 40px;
  font-size: 18px;
  color: white;
}

.listing-container .price {
  float: right;
}

.listing-container .buy-box button {
  height: 50px;
  width: 100%;
  margin-top: 35px;
  border-radius: 30px;
  background-color: var(--clear-blue);
  border: solid 1px var(--clear-blue);
  color: white;
  font-weight: 700;
}

.listing-container .buy-box .sold-banner {
  height: 50px;
  width: 100%;
  margin-top: 35px;
  line-height: 46px;
  text-align: center;
  font-weight: 700;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.listing-container .buy-box .sold-banner img {
  margin-right: 4px;
}

.listing-container .debug {
  display: none;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
}

/* Listing Create */

.step-container {
  padding: 60px 0px;
  margin-bottom: 40px;
}

.step-container h2 {
  margin: 10px 0px 30px 0px;
  line-height: 1.4;
}

.schema-details h2 {
  margin-bottom: 10px;
}

.listing-submitted-notification {
  width: 100%;
}

.schema-selection:hover {
  border: solid 1px var(--clear-blue);
  cursor: pointer;
}

.schema-selection {
  border-radius: var(--default-radius);
  border: solid 1px var(--light);
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  color: var(--dusk);
  font-weight: normal;
}

.schema-selection.selected {
  border: solid 1px var(--dark-grey-blue);
  background-color: var(--dark-grey-blue);
  color: white;
  background-image: url(/images/checkmark.svg);
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 18px 18px;
}

.field-description {
  margin-top: 0px;
}

.form-control,
select.form-control:not([size]):not([multiple]) {
  height: 46px;
}

#root_pictures {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label[for=root_pictures] {
  margin-top: 10px;
  border-radius: var(--default-radius);
  border: solid 1px var(--light);
  margin-bottom: 0px;
  padding: 10px 10px 10px 35px;
  width: 100%;
  color: var(--dusk);
  background-image: url(/images/camera-icon.svg);
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: 18px 15px;
  font-weight: normal;
}

label[for=root_pictures]:hover {
  cursor: pointer;
  border: solid 1px var(--clear-blue);
}

.file-info {
  list-style-type: none;
  padding-left: 0px;
}

#root_pictures + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

#root_pictures:focus + label,
#root_pictures + label:hover {
  background-color: red;
}

.listing-form .info-box {
  background-color: var(--pale-grey);
  border-radius: var(--default-radius);
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.listing-form .info-box h2 {
  font-size: 1.125rem;
  font-weight: 400;
}

.listing-form .info-box p {
  font-size: 1.05rem;
}

.info-box .info-box-image {
  position: absolute;
}

.listing-form .info-box img {
  position: relative;
  top: -50px;
  left: -110px;
}

.listing-form .preview {
  zoom: 0.6;
  pointer-events: none;
  margin-bottom: 30px;
  display: block;
  width: 100%;
  height: 720px;
  border-radius: var(--default-radius);
  border: solid 1px var(--light);
}

/* Profile */

.profile-wrapper {
  position: relative;
  padding-bottom: 30px;
}

.profile-wrapper header {
  background-color: var(--dusk);
  padding-top: 30px;
}

.profile-wrapper header h1 {
  color: white;
  margin: 15px 0;
}

.profile-wrapper .avatar-container {
  position: relative;
  border-radius: 20px;
  max-height: 183px;
  max-width: 183px;
  padding-top: 100%;
  top: calc(-2.0rem * 1.2 - 15px * 2);
  width: 100%;
}

.profile-wrapper .avatar-container img {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
}

.profile-wrapper p {
  font-size: 1rem;
}

.profile-wrapper .name {
  display: flex;
}

.profile-wrapper .name h1 {
  flex-grow: 1;
}

.profile-wrapper .name .icon-container {
  margin-top: 15px;
}

.profile-wrapper .icon-container {
  cursor: default;
}

.profile-wrapper .icon-container.info {
  background-image: url(/images/info-icon-inactive.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* image preloader to avoid flicker on hover */
.profile-wrapper .icon-container.info:after {
  display: none;
  content: url(/images/info-icon-active.svg);
}

.profile-wrapper .icon-container.info:hover {
  background-image: url(/images/info-icon-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile-wrapper .edit-profile {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
}

.profile-wrapper .services {
  font-size: 0.9rem;
  margin: 10px -15px 0;
}

.profile-wrapper .services > div {
  margin-bottom: 30px;
}

.profile-wrapper .services p {
  font-size: 0.9rem;
  margin: 10px 0;
}

.profile-wrapper .service {
  display: flex;
  border: 1px solid var(--light);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  width: 100%;
}

.profile-wrapper .service:disabled {
  opacity: 0.5;
}

.profile-wrapper .service:focus {
  outline: none;
}

.profile-wrapper .service.verified {
  background-color: var(--dark-grey-blue);
  border-color: var(--dark-grey-blue);
  color: white;
}

.profile-wrapper .service .icon-container {
  height: 26px;
  text-align: center;
  width: 30px;
}

.profile-wrapper .service img {
  height: 1.5rem;
}

.profile-wrapper .service p {
  flex-grow: 1;
  font-size: 1.1rem;
  margin: 0;
  padding-left: 10px;
}

.profile-wrapper .service.verified .icon-container:last-of-type {
  background-image: url(/images/verified-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile-wrapper .verification {
  background-color: var(--pale-grey);
  border-radius: 5px;
  color: #0c2033;
  padding: 20px;
}

.profile-wrapper .verification .icon-container {
  position: absolute;
  height: 26px;
  right: 26px;
  top: 10px;
  width: 26px;
}

.profile-wrapper .verification h4 {
  font-size: 0.9rem;
  font-weight: normal;
  margin-bottom: 0;
}

.profile-wrapper .verification p {
  font-size: 0.9rem;
  margin: 0 auto 15px;
}

.profile-wrapper .verification .status svg {
  margin-right: 0.3rem;
}

.profile-wrapper .verification .status .unpublished {
  fill: #d12626;
}

.profile-wrapper .verification .btn {
  width: 100%;
}

.verification .image-container,
.wallet .image-container {
  margin-bottom: 20px;
  text-align: center;
}

.wallet {
  background-color: var(--dark);
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  padding: 20px;
}

.wallet hr {
  border-top: 1px solid white;
}

.wallet a {
  font-weight: bold;
}

.wallet p {
  font-size: 0.9rem;
  margin: 0;
  word-wrap: break-word;
}

.profile-wrapper .wallet img.identicon {
  height: 80px;
  margin: auto;
  width: 80px;
}

.wallet .detail {
  display: flex;
  margin-bottom: 5px
}

.wallet .detail p:first-of-type {
  flex-grow: 1;
}

.wallet .flex:first-child {
  flex-grow: 1;
}

.profile-wrapper .profile.modal {
  line-height: 1;
}

.profile-wrapper .profile.modal h2 {
  margin-bottom: 30px;
}

.profile-wrapper .profile.modal .container {
  text-align: left;
}

.profile-wrapper .profile.modal .container .image-container {
  margin-bottom: 20px;
  text-align: center;
}

.profile-wrapper .profile.modal .container .image-container .image-pair {
  position: relative;
  display: inline-block;
  width: 100%;
}

.profile-wrapper .profile.modal .container .image-container .image-pair .avatar-container  {
  position: relative;
  background-color: #213040;
  border-radius: 20px;
  max-height: unset;
  max-width: unset;
  top: unset;
}

.profile-wrapper .profile.modal .container .image-container .image-pair .avatar-container img {
  height: auto;
  margin: 0;
}

.profile-wrapper .profile.modal .container .image-container .image-pair button {
  position: absolute;
  bottom: 10px;
  height: 40px;
  right: 10px;
}
.profile-wrapper .profile.modal .container .image-container .image-pair button img {
  height: 40px;
  width: 40px;
}

.profile-wrapper .profile.modal .container .form-control {
  text-align: left;
  max-width: unset;
}

.profile-wrapper .profile.modal .container textarea {
  height: unset;
}

/* Footer */

.dark-footer {
  background-color: var(--dark-grey-blue);
  padding: 80px 0px;
  min-height: 522px;
}

footer .logo-container {
  margin: 40px auto;
}

footer .company-mission {
  max-width: 360px;
  margin-left: 0px;
}

footer p {
  color: white;
  font-size: 0.75rem;
}

footer .footer-header {
  margin: 40px auto 15px auto;
  color: white;
  font-weight: 400;
  font-size: 0.875rem;
}

footer .footer-links {
  list-style-type: none;
  padding-left: 0px;
}

footer .footer-links li {
  margin: 15px auto;
  font-size: 0.875rem;
}

footer .footer-links li a {
  color: white;
}

.container.listing-wait-confirmation {
  min-height: 675px;
}

/* Media queries */

/* sm + */
@media (min-width: 576px) {
  .modal-content {
    padding: 30px;
  }
}

/* md + */
@media (min-width: 768px) {
  .modal-content {
    padding: 60px;
  }

  footer .logo-container {
    margin: 40px auto 20px auto;
  }
}

/* lg + */
@media (min-width: 992px) {
  .navbar {
    height: 60px;
  }

  .navbar .static.navbar-nav .nav-item {
    height: 60px;
    padding: 15px 0;
  }

  .navbar .navbar-collapse form {
    padding-top: 0;
  }

  .navbar .navbar-collapse .navbar-nav {
    flex-grow: 1;
    padding: 0;
  }

  .navbar .collapse .navbar-nav .nav-item {
    border-radius: 30px;
    margin: 15px 0;
    padding: 5px 15px;
  }

  .navbar .collapse .navbar-nav .nav-item:hover {
    background-color: var(--dark-grey-blue);
  }

  .profile-wrapper .services {
    margin-bottom: 0;
  }

  .profile-wrapper .verification {
    margin-top: 0;
  }

  .profile-wrapper .verification .icon-container {
    right: 10px;
  }

  .verification,
  .wallet {
    position: relative;
    top: calc(-2.0rem * 1.2 - 15px * 2);
  }
}
