@import 'alertify.css';
@import 'https://hosted-sip.civic.com/css/civic-modal.min.css';

:root {
  --default-font: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
  --heading-font: 'Poppins', 'Helvetica Neue', 'Arial', sans-serif;
  --dark: #111d28;
  --light: #c2cbd3;
  --clear-blue: #1a82ff;
  --dark-grey-blue: #2e3f53;
  --dark-clear-blue: #0169e6;
  --dark-grey: #282727;
  --pale-grey: #ebf0f3;
  --dusk: #455d75;
  --greenblue: #26d198;
  --light-greenblue: #59ffcb;
  --bluish-purple: #6e3bea;
  --default-radius: 5px;
}

html {
  height: 100%;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  font-size: 1.0rem;
  font-weight: 300;
  font-family: var(--default-font);
}

/* necessary for every sticky footer ancestor */
#root, #root > div, #root > div > div {
  height: 100%;
}

/* sticky footer parent */
#root > div > div > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* sticky footer sibling */
main {
  flex: 1 0 auto;
}

/* Common */

h1, h2, h3 {
  color: var(--dark);
  font-weight: 200;
  font-family: var(--heading-font);
}

fieldset {
  border: 0px solid transparent;
  padding: 0px;
}

h1 {
  font-size: 2.0rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 1.125rem;
  margin: 20px auto;
}

label {
  color: var(--dusk);
  font-size: 0.875rem;
}

a:hover {
  text-decoration: none;
}

/* Common */

.navbar {
  height: 80px;
  background-color: var(--dusk);
  padding: 10px;
  color: var(--light);
  font-weight: 600;
  margin: 0px;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.15);
}

.navbar-create {
  font-size: 1.1rem;
  float: right;
  clear: right;
  color: var(--light);
}

.navbar-create a:link,
.navbar-create a:visited {
  color: var(--light);
  text-decoration: none;
}
.navbar-create a:hover,
.navbar-create a:active {
  color: white;
  text-decoration: none;
}

/* Overlay entire page for modal effect */
.overlay {
  background-color: rgba(235, 240, 243, 0.6);
  width: 120%;
  height: 120%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

.overlay-box {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--dark-grey-blue);
  width: 360px;
  height: 260px;
  border-radius: 10px;
  z-index: 10;
  position: fixed;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-align: center;
  line-height: 30px;
}

.overlay-box img {
  width: 54px;
  height: 54px;
  margin-top: 56px;
  margin-bottom: 30px;
}

.overlay-box a {
  color: var(--greenblue);
}
.overlay-box a:hover {
  color: var(--light-greenblue);
}


.btn-container {
  margin: 30px auto;
}

.btn {
  border-radius: 30px;
  padding-right: 30px;
  padding-left: 30px;
  width: 156px;
  font-size: 1.2rem;
}

.btn:hover {
  background-color: var(--dark-clear-blue);
  color: white;
}

.field-description {
  font-size: 14px;
  font-style: italic;
  color: var(--dusk);
}

.btn-primary {
  background-color: var(--clear-blue);
  color: white;
}

.btn-other {
  border: solid 1px var(--light);
  background-color: white;
  color: var(--clear-blue);
}

/* Special case when we need to render an empty page,
   but keep footer from toucher navbar */
.empty-page {
  height: 800px;
}

/* Listings */

.listings-grid {
  padding: 40px 0px;
  margin-bottom: 40px;
}

.listings-grid h1 {
  margin-bottom: 40px;
}

.listing-card {
  margin-bottom: 40px;
}

.listing-card .category {
  font-size: 0.75rem;
  color: var(--dusk);
  text-transform: uppercase;
  margin: 15px 0px 5px 0px;
}

.listing-card .title {
  font-family: var(--heading-font);
  font-size: 1.2rem;
  color: var(--dusk);
  margin: 5px 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.listing-card .price {
  line-height: 1.4;
  color: var(--dark);
}

.listing-card .sold-banner {
  display: inline-block;
  width: 70px;
  height: 22px;
  background-image: url(/images/card-sold-tag.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 58px 20px;
  font-weight: 400;
  font-size: 0.9rem;
  color: white;
  padding: 0.8px 8px 5px 20px;
}

.listing-card .photo {
  width: 100%;
  height: 240px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

/* Listing Detail */

.carousel {
  width: 100%;
  height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  border-top: 1px solid var(--dark-grey);
  background-color: var(--dark-grey);
}

.carousel .photo {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: 600px;
  height: 400px;
  background-color: var(--light);
  margin-right: 1px;
}

.carousel .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.listing-container {
  margin: 80px auto;
}

.listing-container .category {
  font-size: 0.875rem;
  color: var(--dusk);
  text-transform: uppercase;
  margin-bottom: 15px;
}

.listing-container .title {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  color: var(--dusk);
  margin-bottom: 15px;
}

.listing-container .description {
  color: var(--dusk);
  margin-bottom: 30px;
}

.listing-container .lister-label {
  font-family: 'Poppins', 'Helvetica Neue', 'Arial', sans-serif;
  color: #455d75;
  font-size: 1.5rem;
}

.listing-container .lister-address {
  color: #455d75;
}

.listing-container .buy-box {
  border-radius: var(--default-radius);
  background-color: var(--dark-grey-blue);
  padding: 40px;
  font-size: 18px;
  color: white;
}

.listing-container .price {
  float: right;
}

.listing-container .buy-box button {
  height: 50px;
  width: 100%;
  margin-top: 35px;
  border-radius: 30px;
  background-color: var(--clear-blue);
  border: solid 1px var(--clear-blue);
  color: white;
  font-weight: 700;
}

.listing-container .buy-box .sold-banner {
  height: 50px;
  width: 100%;
  margin-top: 35px;
  line-height: 46px;
  text-align: center;
  font-weight: 700;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.listing-container .buy-box .sold-banner img {
  margin-right: 4px;
}

.listing-container .debug {
  display: none;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
}

/* Listing Create */

.step-container {
  padding: 60px 0px;
  margin-bottom: 40px;
}

.step-container h2 {
  margin: 10px 0px 30px 0px;
  line-height: 1.4;
}

.schema-details h2 {
  margin-bottom: 10px;
}

.listing-submitted-notification {
  width: 100%;
}

.schema-selection:hover {
  border: solid 1px var(--clear-blue);
  cursor: pointer;
}

.schema-selection {
  border-radius: var(--default-radius);
  border: solid 1px var(--light);
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  color: var(--dusk);
  font-weight: normal;
}

.schema-selection.selected {
  border: solid 1px var(--dark-grey-blue);
  background-color: var(--dark-grey-blue);
  color: white;
  background-image: url(/images/checkmark.svg);
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 18px 18px;
}

.field-description {
  margin-top: 0px;
}

.form-control,
select.form-control:not([size]):not([multiple]) {
  height: 46px;
}

#root_pictures {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label[for=root_pictures] {
  margin-top: 10px;
  border-radius: var(--default-radius);
  border: solid 1px var(--light);
  margin-bottom: 0px;
  padding: 10px 10px 10px 35px;
  width: 100%;
  color: var(--dusk);
  background-image: url(/images/camera-icon.svg);
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: 18px 15px;
  font-weight: normal;
}

label[for=root_pictures]:hover {
  cursor: pointer;
  border: solid 1px var(--clear-blue);
}

.file-info {
  list-style-type: none;
  padding-left: 0px;
}

#root_pictures + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

#root_pictures:focus + label,
#root_pictures + label:hover {
  background-color: red;
}

.listing-form .info-box {
  background-color: var(--pale-grey);
  border-radius: var(--default-radius);
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.listing-form .info-box h2 {
  font-size: 1.125rem;
  font-weight: 400;
}

.listing-form .info-box p {
  font-size: 1.05rem;
}

.info-box .info-box-image {
  position: absolute;
}

.listing-form .info-box img {
  position: relative;
  top: -50px;
  left: -110px;
}

.listing-form .preview {
  zoom: 0.6;
  pointer-events: none;
  margin-bottom: 30px;
  display: block;
  width: 100%;
  height: 720px;
  border-radius: var(--default-radius);
  border: solid 1px var(--light);
}

/* footer */

.dark-footer {
  background-color: var(--dark-grey-blue);
  padding: 80px 0px;
  min-height: 522px;
}

footer .logo-container {
  margin: 40px auto;
}

footer .company-mission {
  max-width: 360px;
  margin-left: 0px;
}

footer p {
  color: white;
  font-size: 0.75rem;
}

footer .footer-header {
  margin: 40px auto 15px auto;
  color: white;
  font-weight: 400;
  font-size: 0.875rem;
}

footer .footer-links {
  list-style-type: none;
  padding-left: 0px;
}

footer .footer-links li {
  margin: 15px auto;
  font-size: 0.875rem;
}

footer .footer-links li a {
  color: white;
}

.container.listing-wait-confirmation {
  min-height: 675px;
}

/* Media queries */
@media (min-width: 768px) {
  footer .logo-container {
    margin: 40px auto 20px auto;
  }
}
