html {
  height: 100%;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  font-size: 1.0rem;
  font-weight: 300;
  font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
}

/* Common */

h1 {
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  margin: 40px auto;
}

h2 {
  font-size: 1.75rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 20px auto;
}

h3 {
  font-size: 1.75rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

p {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 20px auto;
}

a:hover {
  text-decoration: none;
}

/* Basics */

.navbar {
  height: 60px;
  background-color: #455d75;
  padding: 10px;
  color: #c2cbd3;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.nabbar-create {
  float: right;
  clear: right;
}
