.calendar-container.buyer-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.rbc-time-view .rbc-event-label, .rbc-allday-cell {
  display: none;
}

.calendar-event.available {
  background: green;
}

.calendar-event.unavailable {
  background: red;
}

.calendar-container.buyer-view .rbc-calendar {
  height: 100%;
  cursor: default;
  min-height: 400px;
  width: 100%;
}

.calendar-container.buyer-view .rbc-calendar .rbc-btn-group {
  display: none;
}

.calendar-container .rbc-calendar .rbc-toolbar .rbc-btn-group:nth-child(3) {
  display: none;
}

.rbc-day-bg {
  position: relative;
}

.rbc-day-bg span {
  bottom: 0;
  left: 5px;
  position: absolute;
}

.rbc-day-bg.past-date, .rbc-time-slot.unavailable {
  background: var(--pale-grey) !important;
}

.rbc-day-bg.selected, .rbc-time-slot.selected {
  background: var(--greenblue) !important;
}

.calendar-container.buyer-view .rbc-calendar .rbc-day-bg {
  font-size: 7px;
}

.rbc-day-bg.unavailable {
  background: url(/images/diagonal-line.png);
  background-size: 100% 100%;
}

.rbc-date-cell {
  padding-left: 5px;
  text-align: left;
  vertical-align: top;
}

.calendar-container.buyer-view .rbc-calendar .rbc-date-cell {
  cursor: default;
  font-size: 10px;
}

.buyer-month-nav {
  position: absolute;
  top: 6px;
  left: 16px;
  right: 16px;
}

.buyer-month-nav .prev-month {
  position: absolute;
  left: 0;
  transform: rotate(180deg);
  cursor: pointer;
}

.buyer-month-nav .next-month {
  position: absolute;
  right: 0;
  cursor: pointer;
}
