/* Common */

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  font-family: 'LatoWebLight', 'Open Sans', 'Arial Narrow', sans-serif;
  font-size: 1.0rem;
}

h1, h2 {
  font-family: 'LatoWeb', 'Open Sans', 'Arial Narrow', sans-serif;  
}

h3, h4, h5, h6 {
  font-family: 'LatoWebLight', 'Open Sans', 'Arial Narrow', sans-serif;
}

h3 {
  margin-bottom: 40px;
  font-size: 1.7rem;
}

h4 {
  margin-bottom: 20px;
  font-size: 1.4rem;
}

p {
  margin-bottom: 20px;
}

.btn {
  height: 46px;
  border-radius: 4px;
  padding: 6px 20px;
  font-size: 1.0rem;
  margin: 0px  
}

.btn-wrapper {
  margin: 40px auto;
}

.img-wrapper img {
  width: 100%;
}

.img-wrapper {
  width: 100%;
}

.navbar {
  border-bottom: 1px solid #ebebeb !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 10px rgba(0, 0, 0, .2);
  background-color: #2986E3;
  padding: 10px;
  border-radius: 0px;
}

.navbar .navbar-brand {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
}

pre {
  margin: 40px auto;
}

/* React JSON Schema Form */

.rjsf {
  margin: 40px auto;
}

.rjsf fieldset {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0px;
}

/* Demo App */

.btn-primary,
.rjsf .btn-info {
  background-color: #2986E3 !important;
  color: #ffffff;
  background-image: none;
  border-color: #2A8BEB;
}

.btn-primary:hover,
.rjsf .btn-info:hover {
  background-color: #2E97FF !important;
  border-color: #2E97FF;
}

.schema-options {
  margin: 50px auto 20px auto;
}

.schema-option {
  margin-bottom: 30px;
}

.schema-option img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.schema-option img:hover {
  cursor: pointer;
  opacity: 0.85;
}

.schema-option h4 {
  font-size: 1.2rem;
  text-align: center;
  margin: 10px auto;
}