:root {
  --default-font: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
  --heading-font: 'Poppins', 'Helvetica Neue', 'Arial', sans-serif;

  --dark: #111d28;
  --dark-two: #213040;
  --light: #c2cbd3;
  --clear-blue: #1a82ff;
  --pale-clear-blue: #f5fafc;
  --dark-grey-blue: #2e3f53;
  --dark-clear-blue: #0169e6;
  --dark-grey: #282727;
  --pale-grey: #ebf0f3;
  --pale-grey-two: #dfe6ea;
  --pale-grey-three: #f6f7f8;
  --pale-grey-four: #fafbfc;
  --pale-grey-five: #f7f8f9;
  --pale-grey-six: #fafafa;
  --pale-grey-seven: #eaeef1;
  --dusk: #455d75;
  --steel: #6f8294;
  --greenblue: #26d198;
  --pale-greenblue: #f5fcfa;
  --golden-rod: #f4c110;
  --light-greenblue: #59ffcb;
  --bluish-purple: #6e3bea;
  --bluey-grey: #98a7b4;
  --dark-blue-grey: #0c2033;
  --orange-red: #ff1a1a;
  --red: #F34755;
  --dark-red: #A2686C;
  --light-red: #FBDBDB;

  --default-radius: 5px;
}
