@import '~bootstrap/dist/css/bootstrap.css';
@import '~typeface-lato';
@import '~typeface-poppins';
@import 'bootstrap.css';

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  font-size: 1.125rem;
  height: 100%;
  line-height: 1.5;
  background-color: white;
  height: 100%;
  font-family: 'Lato'
}

#root {
  height: 100%;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

small {
  font-size: 14px;
  color: #8fa7b7
}

.card-wrapper {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.card-wrapper .header .link {
  font-size: 14px;
  text-align: right;
}

.btn.btn-lg {
  font-weight: bold;
  border-radius: 2rem;
  padding: 0.5rem 6rem;
  min-width: 10rem;
  font-size: 18px;
}
