.navbar {
  align-items: unset;
  justify-content: start;
  background-color: #007cff;
  font-family: lato;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.navbar .nav-icon {
  background: white;
  border-radius: 50%;
  margin: 1.2em;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 5px;
}

.navbar .nav-icon:after,
.navbar .nav-icon:before,
.navbar .nav-icon div {
  background-color: #007cff;
  border-radius: 3px;
  content: '';
  display: block;
  height: 2px;
  margin: 3px 0;
  -ms-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.navbar .nav-icon-open:before {
  -ms-transform: translateY(5px) rotate(135deg);
  -moz-transform: translateY(5px) rotate(135deg);
  -webkit-transform: translateY(5px) rotate(135deg);
  transform: translateY(5px) rotate(135deg);
}

.navbar .nav-icon-open:after {
  -ms-transform: translateY(-5px) rotate(-135deg);
  -moz-transform: translateY(-5px) rotate(-135deg);
  -webkit-transform: translateY(-5px) rotate(-135deg);
  transform: translateY(-5px) rotate(-135deg);
}

.navbar .nav-icon-open div {
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.navbar .nav-item a.nav-link .icon {
  width: 28px;
  margin-right: 15px;
}

.navbar .nav-item a.nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.navbar .nav-item a.nav-link .icon > path {
  fill-opacity: 0.8;
}

.navbar .nav-item a.nav-link.active .icon > path {
  fill-opacity: 1;
}

.navbar .nav-item a.nav-link.active {
  color: rgba(255, 255, 255, 1);
}

.navbar .nav-item {
  font-size: 16px;
}

.navbar .small-links a {
  color: rgba(255, 255, 255, 0.8);
}

.navbar .small-links {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
