@import '~bootstrap/dist/css/bootstrap.css';
@import '~react-image-crop/dist/ReactCrop.css';
@import '~typeface-lato';
@import '~typeface-poppins';
@import 'variables.css';
@import 'bootstrap.css';
@import 'buttons.css';

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  color: var(--dark);
  font-family: var(--default-font);
  font-size: 1.125rem;
  font-weight: 300;
  height: 100%;
  line-height: 1.5;
}

.loading-screen {
  background: url('images/spinner-animation-dark.svg') no-repeat center;
  background-size: cover;
  position: fixed;
  top: calc(50% - 1.5rem);
  left: calc(50% - 1.5rem);
  width: 3rem;
  height: 3rem;
}

/* sticky footer sibling */
main {
  flex: 1 0 auto;
  min-height: 100vh;
}

/* Common */

hr {
  border-bottom: 1px solid var(--light);
  border-top: 0;
  margin: 0 auto 2rem;
  padding: 2rem 0 0;
}

hr.dark {
  border-bottom: 1px solid var(--steel);
}

hr.sm {
  margin-bottom: 1rem;
  padding-top: 1rem;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  line-height: 1.5;
}

h1 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1.25rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1.125rem;
}

p {
  color: var(--dark);
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

fieldset {
  border: 0 solid transparent;
  padding: 0;
}

label {
  color: var(--dusk);
  font-size: 1rem;
  font-weight: normal;
}

a:hover {
  text-decoration: none;
}

textarea:-moz-ui-invalid {
  box-shadow: none;
}

.line {
  display: inline-block;
}

.badge {
  font-size: 0.75rem;
  padding: 0.4em 0.5em;
}

.btn {
  font-weight: 900;
}

.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.33;
}

.btn-clear {
  border: solid 1px white;
  background-color: transparent;
  color: white;
}

.btn-clear:hover {
  background-color: white;
  color: var(--dark-two);
}

.ws-aware {
  white-space: pre-line;
  word-wrap: break-word;
}

.table {
  font-size: 0.875rem;
  margin-bottom: 0;
  table-layout: fixed;
}

.table thead th,
.table tbody td {
  border: none;
  padding: 0.75rem;
}

.table thead th {
  font-weight: normal;
}

.table tbody td {
  white-space: nowrap;
}
