
.btn.btn-lg {
  border-radius: 2rem;
  padding: 0.75rem 2rem;
  min-width: 10rem;
  font-size: 18px;
}

.pl-modal .btn {
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  min-width: 12rem;
  font-size: 18px;
}

.pl-modal .btn-success {
  border-width: 0;
}

.pl-modal .btn-link {
  font-size: 14px;
  font-weight: normal;
  text-decoration: underline;
  color: var(--white);
}
