name: Auto approve
on:
  pull_request:
    branches:
      - master

jobs:
  approve:
    runs-on: ubuntu-latest
    if: github.actor == 'tomlinton' && github.head_ref == 'crowdin'
    steps:
      - uses: hmarr/auto-approve-action@v2.0.0
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
